<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <title>Passage-based Document Search Engine</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-5 d-flex justify-content-center">{{ document_id }}</h1>

        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>Passage ID</th>
                    <th>Passage Content</th>
                </tr>
            </thead>
            <tbody>
                {% for passage in document %}
                <tr>
                    <td>{{ passage.id }}</td>
                    <td>{{ passage.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>