{% extends "base.html" %}

{% block head %} 
<h1>Chuen's search engine</h1>
{% endblock %}

{% block body %} 
<div class="content">
    <form action="/" method="POST" class="search">
        <input type="text" id="queryInput" name="query" placeholder="Enter your search query">
        <input type="submit" value="Search">
    </form>

    {% if results %}
    <h2>Search Results:</h2>
    <p>Number of Documents Retrieved: {{ num_retrieved }}</p>
    <p>Runtime: {{ runtime }} seconds</p>
    <table>
        <tr>
            <th>Ranking</th>
            <th>Document ID</th>
            <th>Score</th>
            <th>Relevant Passage ID</th>
        </tr>
        {% for result in results %}
            <tr>
                {% set columns = result.strip().split(' ') %}
                {% for column in columns %}
                <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}